@tailwind base;
@tailwind components;
@tailwind utilities;

/* A subtle, modern scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db; /* gray-400 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* gray-500 */
}

html {
    scroll-behavior: smooth;
}